
<div *ngIf="weathercalc$" class="table-responsive-sm stable container">
  <div>
    <h1> MSHP Data Analysis and Calculations </h1>
  </div>
  <table class="table  table-bordered ">
    <thead class="thead-light">
    <tr>
      <th>No of Station</th>
      <th>No of sensor in Error</th>
    </tr>
    </thead>

    <tbody>
    <tr>
      <td>{{weathercalc$.noOfStation}}</td>
      <td>{{weathercalc$.noOfSensorError}}</td>
    </tr>
    </tbody>

  </table>

<br>
  <br>

  <table class="table table-bordered">
    <thead class="thead-light">
    <tr>
      <th scope="col"></th>
      <th scope="col">Temperature &#8451;</th>
      <th scope="col">Pressure(BAR)</th>
      <th scope="col">Humidity</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <th scope="row">Minimum Value</th>
      <td>{{weathercalc$.minValueOfT}}</td>
      <td>{{weathercalc$.minValueOfP}}</td>
      <td>{{weathercalc$.minValueOfH}}</td>
    </tr>
    <tr>
      <th scope="row">Maximum value</th>
      <td>{{weathercalc$.maxValueOfT}}</td>
      <td>{{weathercalc$.maxValueOfP}}</td>
      <td>{{weathercalc$.maxValueOfH}}</td>
    </tr>
    <tr>
      <th scope="row">Average Value</th>
      <td>{{weathercalc$.avgValueOfT | number}}</td>
      <td>{{weathercalc$.avgValueOfP | number}}</td>
      <td>{{weathercalc$.avgValueOfH |number}}</td>
    </tr>
    </tbody>
  </table>

</div>


